.body {
    background-color: black;
    text-align: center;
}

.recipe-head {
    font-family: Montserrat, sans-serif;
    color: white;
    text-align: center;
    border: 3px solid white;
    border-radius: 25px;
}
.l1 {
    font-size: 25px;
    border: 2px solid blue;
    font-family: sans-serif;
    border-radius: 25px;
}
.l2 {
    font-size: 25px;
    border: 2px solid blue;
    font-family: sans-serif;
    border-radius: 25px;
}
.l3 {
    font-size: 25px;
    border: 2px solid blue;
    font-family: sans-serif;
    border-radius: 25px;
}