.body {
    font-family: sans-serif;
    background-color: black;
}
.link1:link {
    color: red;
}
.link2:link {
    color: green;
}
.link3:link {
    color: blue;
}
.l1 .l2 .l3 {
    font-family: sans-serif;

}
.recipe-head {
    color: white;
    text-align: center;
}
.l1 {
    font-size: 38px;
    text-align: center;
}
.l2 {
    font-size: 37px;
    text-align: center;
}
.l3 {
    font-size: 36px;
    text-align: center;
}