.body-index {
    background-color: black;
    text-align: center;
}

.recipe-head {
    font-family: Montserrat, sans-serif;
    color: white;
    text-align: center;
    border: 3px solid white;
    border-radius: 25px;
}
.l1 {
    font-size: 25px;
    border: 2px solid blue;
    font-family: sans-serif;
    border-radius: 25px;
}
.l2 {
    font-size: 25px;
    border: 2px solid blue;
    font-family: sans-serif;
    border-radius: 25px;
}
.l3 {
    font-size: 25px;
    border: 2px solid blue;
    font-family: sans-serif;
    border-radius: 25px;
}
/* Styles for banillacake.html*/
.banilla-index {
    background-color: #121212;
    color: white;

}
.banilla-image {
    height: 500px;
    width: 500px;
    border: 2px solid #121212;
    border-radius: 25pc;
}
.banilla-head .description {
    font-family: "Gentium Book Plus";
}
.banilla-head {
    border: 1px solid white;
    text-align: center;
}
.description-banilla-head {
    color: rgb(209, 119, 40);
}
.description-banilla {
    color: peachpuff;
}
.ingredients-banilla-head {
    color: rgb(209, 119, 40);
}